---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
  >
    <!-- <Fragment slot="title">
      Elevate your online presence with our <br />
      <span class="text-accent dark:text-white highlight"> Beautiful Website Templates</span>
    </Fragment> -->

    <Fragment slot="subtitle">
      <p>Guangzhou Duoze Manufacturing Co., Ltd., a reputable factory with over 10 years of expertise in producing high-quality bathroom mirrors, wall-mounted decorative mirrors, and medicine cabinets. We specialize in custom manufacturing based on client designs, catering to a diverse clientele including real estate developers, hotels, entertainment venues, construction firms, contractors, design agencies, and local appliance distributors.</p>
      <p>Our minimum order quantity is 100 pieces, with a monthly production capacity of 5,000 mirrors and 1,000 cabinets. We prioritize durability and quality, offering factory and product inspections, as well as certifications like UL, CE, ETL, and SAA. Our products come with a 3-year warranty, and we provide DDP pricing to ensure a hassle-free experience for our clients.</p>
      <p>Let us handle your mirror and cabinet needs with reliability and professionalism. Looking forward to discussing potential collaborations.</p>
    </Fragment>
  </Hero>
</Layout>
