---
import { SITE } from 'astrowind:config';
import Image from "./common/Image.astro";
const logoImg = '~/assets/images/logo.jpg';
---

<span
  class="flex items-center text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={logoImg} alt="App Store Image" width={50} /> 
  <span class="ml-2">{SITE?.name}</span>
</span>
