---
import PostTags from '~/components/blog/Tags.astro';
import SocialShare from '~/components/common/SocialShare.astro';

import type { Post } from '~/types';
import Product from "../widgets/Product.astro";

export interface Props {
  post: Post;
  url: string | URL;
}

const { post, url } = Astro.props;
---
<Product
  isReversed
  items={[
    {
      title: 'Stucture',
      description: post.stucture,
      icon: 'tabler:wand',
    },
    {
      title: 'Lighting',
      description: post.lighting,
      icon: 'tabler:settings',
    }
  ]}
  image={{
    src: post.image,
    alt: 'Colorful Image',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{post.title}</h3>
  </Fragment>
</Product>
<section class="mx-auto max-w-7xl p-4 md:px-6">
  <article>
    <div class="border-b-2 relative border-border dark:border-light flex">
      <button class="border-t-2 border-l-2 border-r-2 border-b-0 bg-white dark:bg-darkmode-body border-border dark:border-light translate-y-[2px] cursor-pointer focus:outline-none px-6 rounded-tl-md rounded-tr-md h-12 py-2 border-t-2 border-l-2 border-r-2 border-b-0">Description</button>
    </div>
    <div
      class="border-l-2 border-r-2 border-b-2 border-border dark:border-light rounded-bl-md rounded-br-md p-6"
    >
      <slot />
    </div>
    <div class="mx-auto  mt-8 flex justify-between flex-col sm:flex-row">
      <PostTags tags={post.tags} class="mr-5 rtl:mr-0 rtl:ml-5" />
      <SocialShare url={url} text={post.title} class="mt-5 sm:mt-1 align-middle text-gray-500 dark:text-slate-600" />
    </div>
  </article>
</section>
